.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__labels {
  margin-right: 20px;
  font-family: Garamond;
  font-size: small;
  font-style: italic;
}

.header__labels:hover {
  cursor: pointer;
}
